@font-face {
  font-family: 'iconfont';  /* project id 1948085 */
  src: url('//at.alicdn.com/t/font_1948085_tk86bl2imq.eot');
  src: url('//at.alicdn.com/t/font_1948085_tk86bl2imq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1948085_tk86bl2imq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1948085_tk86bl2imq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1948085_tk86bl2imq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1948085_tk86bl2imq.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

