@font-face {
  font-family: 'iconfont';  /* project id 1948085 */
  src: url('//at.alicdn.com/t/font_1948085_fc6qbnu4td.eot');
  src: url('//at.alicdn.com/t/font_1948085_fc6qbnu4td.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1948085_fc6qbnu4td.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1948085_fc6qbnu4td.woff') format('woff'),
  url('//at.alicdn.com/t/font_1948085_fc6qbnu4td.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1948085_fc6qbnu4td.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
